<a href="https://colab.research.google.com/github/KlavMar/recommandations_films/blob/main/Projet_2_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import plotly.express as px

## CSV

### Name Basic


* nconst = id 
* PrimaryName=nom de la personne 
* BirthDay=Année de naissance de la personne 
* PrimaryProfession=Métier connu pour ses personnes 
* KnowForTtitle=titres pour lesquels la personne est connu

In [ ]:
#.replace(["\\N"],np.nan)

In [ ]:
%%time
df_name_basics=pd.DataFrame()
chunk=pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz",
                      sep="\t",index_col="nconst",
                      engine='c',chunksize=500000)

for i in chunk:
    df_name_basics=pd.concat([df_name_basics,i.replace(["//N",np.nan])])

CPU times: user 39.5 s, sys: 2.68 s, total: 42.2 s
Wall time: 44.1 s

### Tilte Akas


* TitleId=Identifiant unique du titre 
* Title = Le titre de façon locale 
* Région = région pour la version du titre -> sert de filtre

In [ ]:
%%time
df_title_akas=pd.DataFrame() 
chunk=pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz",
                      sep="\t",
                      index_col="titleId",
                      usecols=['titleId','title','region'],
                      engine='c',chunksize=500000)

for i in chunk:
    #df_title_akas=pd.concat([df,i[i.region=='FR']])
    df_title_akas=pd.concat([df_title_akas,i])

CPU times: user 1min 9s, sys: 3.04 s, total: 1min 12s
Wall time: 1min 14s

### Title Basics


* tconst=id unique du film
* titleType=type de format 
* primaryTitle=nom du titre le plus populaire lors de la commercialisation 
* isAdult = fitlre Adult 
* StartYear=date de sortie du film
* RuntimesMinutes =temps de la vidéo 
* genre = jusqu'à 3 genre associés

In [ ]:
%%time 
df_title_basics=pd.DataFrame()
chunk=pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz",sep="\t",
                        index_col=0,
                        usecols=['tconst','titleType','primaryTitle','startYear','runtimeMinutes','genres'],
                        low_memory=False,engine='c',chunksize=500000)

for i in chunk:
    df_title_basics=pd.concat([df_title_basics,i])

CPU times: user 30 s, sys: 1.23 s, total: 31.2 s
Wall time: 32.7 s

### Title Crew


* Tconst= identifiant unique du titre 
* directeurs 
* écrivains

In [ ]:
%%time 
df_title_crew=pd.DataFrame()

chunk=pd.read_csv("https://datasets.imdbws.com/title.crew.tsv.gz",
                      sep="\t",
                      index_col="tconst",chunksize=500000)

for i in chunk:
    df_title_crew=pd.concat([df_title_crew,i])

CPU times: user 15.8 s, sys: 781 ms, total: 16.6 s
Wall time: 18.1 s

### Title Principals


* tconst = identifiant unique du titre 
* nconst = identifiant unique de la personne (jointure ? )
* categorie = catégorie d'emploi
* job = poste spécifique du film
* caractère = le nom du personnage joué

In [ ]:
%%time 
df_title_principal=pd.DataFrame()

chunk=pd.read_csv("https://datasets.imdbws.com/title.principals.tsv.gz",
                           sep="\t",
                           index_col="tconst",
                           usecols=['tconst','nconst'],
                           engine="c",chunksize=500000)

for i in chunk:
    df_title_principal=pd.concat([df_title_principal,i])

CPU times: user 1min 36s, sys: 4.23 s, total: 1min 40s
Wall time: 1min 42s

### Ratings


* tconst = identifiant du film
* averageRating = moyenne pondéré de toutes les évaluations indivuduelle des users 
* numVotes = nommbre de votes / films

In [ ]:
%%time
df_rating=pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz",
                   sep="\t",
                   index_col="tconst").replace(["\\N"],np.nan)

CPU times: user 1.67 s, sys: 115 ms, total: 1.79 s
Wall time: 2.38 s

In [ ]:
df_rating['average_rating']=(df_rating['averageRating']//1)

# Export CSV

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path="/content/drive/MyDrive/Colab Notebooks/WILD_CODE_SCHOOL/PROJECT/PROJET 2/PROJET2_NEW/"

In [ ]:
def saveCsvOnfolder(df,cheminPath,nameFile):
        if os.path.exists(f'{cheminPath}'):
            df.to_csv(os.path.join(cheminPath,nameFile),sep=";")
        else:
            os.mkdir(f'{cheminPath}')
            df.to_csv(os.path.join(cheminPath,nameFile),sep=";")

In [ ]:
liste_df_save=[df_name_basics,df_title_akas,df_title_basics,df_title_crew,df_title_principal,df_rating]
liste_name=['df_name_basics','df_title_akas','df_title_basics','df_title_crew','df_title_principal','df_rating']
number=0
for i in liste_df_save:
    import os
    saveCsvOnfolder(i,f'{path}/csv/',liste_name[number])
    number+=1

In [ ]:
# df_name_basics.to_csv('df_name_basics.csv',sep=";",na_rep="NaN",index=True)
# df_title_akas.to_csv('df_title_akas.csv',sep=";",na_rep="NaN",index=True)
# df_title_basics.to_csv('df_title_basics.csv',sep=";",na_rep="NaN",index=True)
# df_title_crew.to_csv('df_title_crew.csv',sep=";",na_rep="NaN",index=True)
# df_title_principal.to_csv('df_title_principals.csv',sep=";",na_rep="NaN",index=True)
# df_rating.to_csv('df_rating.csv',sep=";",na_rep="NaN",index=True)